.formação {
  background: #141414;
  color: #ffffff;
}
.formação-container {
  max-width: 1200px;
  padding: 120px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
  position: relative;
}
.formação-container::after {
  content: "";
  display: block;
  width: 160px;
  height: 100px;
  background: url(/decoração.svg) no-repeat center;
  position: absolute;
  bottom: -50px;
  left: 20px;
}
.formação .subtitulo {
  color: #000000;
  max-width: 5ch;
}
.formação-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  max-width: 40ch;
  margin-bottom: 60px;
  color: #a3a3a3;
}
.formação-texto strong {
  color: #ffffff;
}
.faculdade-lista {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  margin-bottom: 60px;
}
.faculdade {
  flex: 1;
  background: #000;
  padding: 20px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}
.faculdade-tipo {
  font-size: 0.875rem;
  text-transform: uppercase;
  color: #a3a3a3;
  margin-bottom: 10px;
}
.faculdade-curso {
  font-size: 1.125rem;
  line-height: 1.4;
  margin-bottom: 40px;
  position: relative;
}
.faculdade-curso::before {
  content: "";
  display: block;
  width: 4px;
  height: 20px;
  background: linear-gradient(#b6f829, #67dd0a);
  position: absolute;
  top: 5px;
  left: -24px;
}
@media (max-width: 800px) {
  .formação-container {
    grid-template-columns: 1fr;
    padding: 60px 20px;
    gap: 40px;
  }
  .formação .subtitulo {
    color: #ffffff;
  }
  .formação-texto {
    font-size: 1.25rem;
  }
}
